body {
  color: #222831;
  font-size: calc(110% + 0.1vw);
  line-height: 1.6;
  background-color: #fff;
  font-family: "Helvetica Neue", sans-serif;
  border-top: solid 4px #f700a0;
}

/*
 * Custom CSS
 */

 a {
  cursor:pointer;
 }

.list-lvl-1 {
      margin-top: 10px;
}

.list-lvl-2 {
  margin-left: 2%;
}

.list-lvl-3 {
  margin-left: 4%;
}

.list-lvl-4 {
  margin-left: 6%;
}

.mekinda img {
  max-width: 189px !important;
}


 /*
  When the view goes below 1000px, it cuts into a single column,
  otherwise, it's 2 column
 */
 
@media (min-width:1000px) {
  
  .porfolio-items-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 900px;
  }
  
}



.portfolio-item {
    width: 40%;
    /* max-width: 376px; */
    margin-bottom: 53px;
    margin-right: 30px;
}

@media (max-width:1000px) {
.portfolio-item {
      width: 100% !important;
  }
}

.portfolio-item-name {
    font-size:  23px;
    font-weight:  bold;

}

.portfolio-item-image {
  margin-top: 10px;
  margin-bottom: 10px;
}

.portfolio-item-desc {

}

 #mc_embed_signup{
    background: #fff;
    clear: left;
    font: 14px Helvetica,Arial,sans-serif;
    width: 100%;
    border: #e0e0e0 solid 2px;
    padding: 15px;
    background: #f9f9f9;
    margin-bottom: 45px;
    margin-top: 58px;
  }

#mc_embed_signup input.email {
    font-family: "Open Sans","Helvetica Neue",Arial,Helvetica,Verdana,sans-serif;
    font-size: 15px;
    border: 3px solid #3c3c3c !important; 
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    /* border-radius: 3px; */
    color: #343434 !important; 
    background-color: #fff !important; 
    box-sizing: border-box;
    height: 50px !important; 
    padding: 0px 0px 0px 20px !important;
    display: inline-block;
    margin: 0;
    width: 350px;
    vertical-align: top;
    font-size: 18px !important;
}

#mc_embed_signup .button {
    font-size: 13px;
    border: none;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    letter-spacing: .03em;
    color: #fff;
    background-color: #3c3c3c !important;
    box-sizing: border-box;
    height: 50px !important; 
    line-height: 32px;
    padding: 0 18px;
    display: inline-block;
    margin: 0;
    transition: all 0.23s ease-in-out 0s;
    border-radius: 0px !important; 
    font-size: 17px !important; 
}

#mc_embed_signup label {
    display: block;
    padding-bottom: 10px !important;
    font-weight: bold !important;
    font-size: 3em !important;
    margin-top: 44px !important;
    margin-bottom: 10px !important;
    font-style: "Helvetica Neue", sans-serif !important;
}

.mc-ctathing {
  font-size: 20px;
    font-family: Lato;
    /* font-family: "Helvetica Neue", sans-serif; */
        margin-left: 1%;
    margin-right: 1%;
    font-weight: 600;
    letter-spacing: 0.05em;
    margin-bottom: 47px;
}

.recent-posts-header {
    text-align: left;
    background-color: black;

    font-style: normal;
    margin-top: 87px;
    border: solid 2px;
    margin-bottom: 10px;
    padding-left: 12px;
    color: #222831;
    background: white;
    display: block;
    font-weight: 600;
    font-size: 57px;
    line-height: 1.2em;
    cursor: pointer;
}

.roboto {
  font-family: Lato;
}

.post-content {
  font-family: Lato;
}

.post-content h4 {
  font-family: "Helvetica Neue", sans-serif;
}

.special {
  color: #f700a0;
}

.contact-skill-list li {
  margin-bottom: 10px;
}

.skill-item {
  font-weight: bold;
}

.cta-front {
  margin-top: 6px;
  /* margin-bottom: 50px; */
  font-size: 25px;
}

.link-colour {
  color: #f700a0;
  cursor: pointer;
}

.boxed {
  border: solid 2px;
  margin-bottom: 10px;
  padding-left: 12px;
}

.link-style {
  display: block;
  font-weight: 600;
  font-size: 57px;
  line-height: 1.2em;
  cursor: pointer;
}

.header {
    font-weight: bold;
    font-size: 45px;
    color: #f700a0;
    font-family: "Helvetica Neue", sans-serif;
    letter-spacing: -.01em;
}

.sub {
    font-size: 24px;
    padding-top: 0p;
    margin-top: 0px;
    /* font-weight: 100; */
}

.contact-links-container {
      display: flex;
    align-items: flex-start;
    justify-content: baseline;
}

.contact-links {
    /* display: flex; */
    /* justify-content: space-evenly; */
    align-items: center;
    font-size: 20px;
    color: #222832;
    margin-top: 49px;
    margin-bottom: 49px;
    margin-right: 43px;
}

.list-icon {
  list-style: none !important;
}

.list-icon a {
  color: #222831 !important;
  transition: 0.5s ease-in-out;
}

.list-icon:hover a {
  color: #f700a0 !important;
}

.theme-divider {
border-top: 1px solid #eee;
    margin-left: 47px;
    margin-right: 47px;
}

.cursor {
  cursor:pointer;
}

.archive-year {
    margin-bottom: 12px;
    margin-top: 47px;
}

.collection-title {
  font-size: 56px;
}

.alt-color {
      color: #9090bb;
}

/*
 * ==================================
 * CATEGORIES 
 * ==================================
 */

.categories {
      font-size: 50px;
    font-weight: 600;
}

.categories-container {

}

/*
 * ==================================
 * END OF CATEGORIES 
 * ==================================
 */

 /*
 * ==================================
 * MUSIC 
 * ==================================
 */

#releases {
    font-weight: 100;
    font-style: italic;
    background: antiquewhite;
    text-align: center;
    margin-bottom: 20px;

        text-align: left;
    background-color: black;
    color: white;
    font-style: italic;
    padding-left: 16px;
    font-family: "Helvetica Neue", sans-serif;
}

#watch {
    font-weight: 100;
    font-style: italic;
    background: antiquewhite;
    text-align: center;
    margin-bottom: 20px;

        text-align: left;
    background-color: black;
    color: white;
    font-style: italic;
    padding-left: 16px;
    font-family: "Helvetica Neue", sans-serif;
}

.AO {
  color: #1ca8ff;
    cursor: pointer;
    display: inline-block;
    /* margin: 10px; */
    margin-top: 4px;
    margin-bottom: 10px;
}

.album {
  margin: 0px !important;
}

.album_img_candy_body img {
    height: 300px;
    width: 300px;
    position: absolute;
    right: 40%;
    bottom:22%;
    display: none !important;
}

.AO_candy_body:hover + .album_img_candy_body img {
    display: block !important;
}

.album_img_dig_it_up img {
    height: 300px;
    width: 300px;
    position: absolute;
    right: 28%;
    bottom:30%;
    display: none !important;
}

.AO_dig_it_up:hover + .album_img_dig_it_up img {
    display: block !important;
}

.album_img_death_to_the_police_force img {
    height: 300px;
    width: 300px;
    position: absolute;
    top:55%;
    right:2%;
    display: none !important;
}

.AO_death_to_the_police_force:hover + .album_img_death_to_the_police_force img {
    display: block !important;
}

.album_img_debutante img {
    height: 300px;
    width: 300px;
    position: absolute;
    right: 22%;
    display: none !important;
}

.AO_debutante:hover + .album_img_debutante img {
    display: block !important;
}

.album_img_separation_stories img {
    height: 300px;
    width: 300px;
    position: absolute;
    right: 22%;
    display: none !important;
}

.AO_separation_stories:hover + .album_img_separation_stories img {
    display: block !important;
}

.album_img_axion img {
    height: 300px;
    width: 300px;
    position: absolute;
    right: 4%;
    top: 70%;
    display: none !important;
}

.AO_axion:hover + .album_img_axion img {
    display: block !important;
}


/*
 * ==================================
 * END OF MUSIC 
 * ==================================
 */

 /*
 * ==================================
 * ABOUT 
 * ==================================
 */

.picText {
  color: #1ca8ff;
  cursor: pointer;
  display: inline-block;
}

.companies {
  display: flex;
      flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

@media (max-width: 523px) {
  .companies {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
  }
}

.companies img {
    height: 130px;
    width: 130px;
}

 /*
 * ==================================
 * END OF ABOUT 
 * ==================================
 */

.twitter-wrapper {
    display: flex !important;
    justify-content: center !important;
}

.italics {
  font-style: italic;
}

.figure {
  font-size: 14px !important;
}

.barba-flex {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-top: 50px;
}

.title-name {
    font-weight: 700;
    font-size: 75px;
    line-height: 75px;
    margin-top: 23px;
}

.title-sub {
    /* font-family: 'Libre Baskerville', serif; */
    /* font-style: italic; */
    font-size: 24px;
    text-decoration: underline;
}

.barba-side {
width: 30%;
    font-weight: 500;
    font-size: 57px;
    margin-right: 27px;
    margin-top: 30px;
}

.barba-side a {
    display: block;
    font-weight: 600;
    font-size: 57px;
    line-height: 1.2em;
}

.barba-container {
  width: 70%;
}

.branding a {
  background: #222831;
    padding-right: 53px;
}

.wrap {
    width: 80%;
    max-width: 60em;
    margin: 0 auto;
}

.divider {
      width: 100%;
    height: 1px;
    background: black;
}

.aesthetic-box {
    margin-top: 27px;
    background-color: aliceblue;
    padding-top: 47px;
    margin-right: 34px;
    margin-left: 14px;
    /* position: initial; */
    height: 391px;
}

.portrait-container {
      text-align: center;
}

.portrait {
      /* width: 86%; */
    /* position: sticky; */
}

.front-container {
      position: relative;
    top: -300px;
}

.upwards {
  position: relative;
    top: -325px;
}

.post .post-title {
  font-size: 4em !important;
}

/*.tagname {
      background-color: #00c4ff;
    border-radius: 2px;
    padding: 4px;
    margin-right: 9px;
    color: white;
}

.tagname:hover {
      outline-width: 0;
    background: #d6a110;
}*/


.tagname {
    border-radius: 2px;
    padding: 4px;
    margin-right: 9px;
    color: #369cd3;
    background-color: aliceblue;
    font-size: 19px;
    transition: 0.2s;
    display: inline-block;
    margin-top: 11px;
}

.tagname:hover {
  outline-width: 0;
    background: #ddeeff;
}


ul {
  margin: 1rem 0;
}

p {
letter-spacing: -.06em;
    line-height: 1.8;
    margin: 1.2em 0;

    font-family: Lato;
    letter-spacing: 0.00em;
}

a,
a:active {
  color: #222831;
  text-decoration: none;
  word-wrap: break-word;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  letter-spacing: -.002em;
  font-weight: 600;
  line-height: 1.2;
}

::selection {
  color: #fff;
  background-color: #1ca8ff;
}

.nav-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.nav-list-link {
  padding-bottom: .15em;
  border-bottom: .1em solid transparent;
}

.nav-list-link:hover {
  border-bottom: .1em solid #1ca8ff;
  padding-bottom: .15em;
  transition: 150ms ease-in-out;
}

code {
  padding: .2em .4em;
}

iframe,
video {
    max-width: 100%;
    margin: 1rem auto;
    height: 445px;
}

/*table {
  padding: 0;
}*/
table th {
  font-weight: 600;
  border: 0;
  text-align: left;
  margin: 0;
  padding: .4em .8em;
}
table thead {
  background-color: #fff;
}
table tbody tr {
  border-top: 0;
  background-color: #fff;
}
table tbody tr:nth-child(2n) {
  background-color: #f6f8fa;
}
table tbody td {
  border: .05em solid transparent;
  text-align: left;
}
table tbody th :first-child,
table tbody td :first-child {
  margin-top: 0;
}
table tbody th :last-child,
table tbody td :last-child {
  margin-bottom: 0;
}

header {
  min-height: 7em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

@media screen and (max-width: 600px) {
  header {
    justify-content: center;
  }
}

header .branding {
  display: inline-block;
  margin: .6em 0 0 0;
  position: relative;
}

.logo-image:hover {
  animation: sway 1.4s ease-in-out both;
}

@keyframes sway {
  10%,
  90% {
    transform: rotate(-15deg);
  }

  20%,
  80% {
    transform: rotate(15deg);
  }

  30%,
  50%,
  70% {
    transform: rotate(-10deg);
  }

  40%,
  60% {
    transform: rotate(10deg);
  }
}

.logo-image {
  width: 4em;
}
header .nav-list-item {
  display: inline-block;
  padding: 1em .8em;
}
header .nav-list-item a {
    font-size: 0.8em;
    line-height: 1.4;
}

.home.post-list {
  margin: 2em 0;
}
.home.post-list .post-list-item {
  padding: 1em .4em;
}

.home.post-list .post-content h2:before,
.home.post-list .post-content h3:before,
.home.post-list .post-content h4:before,
.home.post-list .post-content h5:before,
.home.post-list .post-content h6:before {
  content: "";
}
.home.post-list .post-content > ul {
  list-style: initial;
}

.home.post-list .read-more {
  color: #1ca8ff;
}

.archive .post-item {
  display: flex;
  flex-wrap: wrap;
  padding-left: 1.5rem;
}
.archive .post-time,
.archive .post-title-link {
  font-size: 1rem;
}
.archive .post-title-link {
  color: #1ca8ff;
  padding-left: 1em;
}
.archive .post-title-link:hover {
  border-bottom: 0;
  color: #801501;
}
.archive .post-info {
    width: 10em;
    font-size: .9em;
    color: #393e46;
}

.post {
  /* padding-top: 1em; */
}

.post-block .post-title {
  margin: .65em 0;
  font-size: 1.5em;
}
.post-block .post-info {
  color: #393e46;
  margin: 1.2em 0;
}
.post-block .post-info span {
  margin-left: .5rem;
}
.post-block .post-info a.post-from {
  margin-left: .5rem;
  padding: .2em .3em;
  border-radius: .3em;
  font-size: .7em;
  color: #fff;
  background-color: #e36b6b;
}

.post-content h2,
.post-content h3,
.post-content h4,
.post-content h5,
.post-content h6 {
  margin-bottom: 1em;
}

.post-content h2 a:before,
.post-content h3 a:before,
.post-content h4 a:before,
.post-content h5 a:before,
.post-content h6 a:before {
  content: "#";
  color: #1ca8ff;
  position: absolute;
  left: -.8em;
  top: -.1em;
  font-size: 1.1em;
  font-weight: 500;
}
.post-content h4 a:before,
.post-content h5 a:before,
.post-content h6 a:before {
  content: "";
}

.post-content h1 {
  margin-top: 50px;
  font-size: 2em;
}

.post-block .post-title {
  margin-top: 9px;
  font-size: 2em;
}

.post-content h2 {
  margin-top: 1.8em;
  font-size: 2.8em;
}

.post-content h3 {
  margin-top: 1.6em;
  font-size: 2.6em;
}

.post-content h4 {
  margin-top: 1.4em;
  font-size: 2.4em;
}

.post-content h5 {
  margin-top: 1.2em;
  font-size: 2.2em;
}

.post-content h6 {
margin-top: 1em;
    font-size: 1.3em;
    font-weight: 100;
    background-color: #fcd6f9;
    text-align: center;
    font-style: italic;
    padding-top: 6px;
    padding-bottom: 6px;
}

.post-content a {
  color: #1ca8ff;
}
.post-content blockquote {
  margin: 2em 0;
  padding: .5em 1.3em;
  border: .05em solid #eee;
  border-radius: .1em;
  border-left-color: #1ca8ff;
  border-left-width: .1em;
}

.post-content li {
  margin-left: 1em;
  list-style-type: disc;
  font-family: Lato;
  letter-spacing: 0.0em;
}

.post-content blockquote.warning {
  border-left-color: #f0ad4e;
  border-left-width: 4px;
}
.post-content img {
  display: block;
  max-width: 100%;
  /* margin: 1em auto; */
}
.post-content .tip {
  position: relative;
  margin: 2em 0;
  padding: .6em 1.2em .6em 1.2em;
  border-left: 4px solid #f66;
  border-top-right-radius: .06em;
  border-bottom-right-radius: .06em;
  background-color: #f8f8f8;
}
.post-content .tip br {
  display: none;
}
.post-content .tip:before {
  position: absolute;
  top: 14px;
  left: -12px;
  content: "!";
  width: 20px;
  height: 20px;
  border-radius: 100%;
  color: #fff;
  font-size: 14px;
  line-height: 20px;
  font-weight: 600;
  text-align: center;
  background-color: #f66;
  font-family: "Dosis", "Source Sans Pro", "Helvetica Neue", Arial, sans-serif;
}

#mask {
  position: fixed;
  overflow: scroll;
  width: 100%;
  height: 100%;
  padding: 1em 0;
  background-color: rgba(0, 0, 0, .5);
  z-index: 10;
}
#mask #mask-image {
  max-width: 95%;
}

.paginator {
  margin: 2em 0;
  display: flex;
  justify-content: space-around;
}

.paginator .prev,
.paginator .next {
    position: relative;
    box-shadow: 0 0.3em #4b4b4b;
    display: inline-block;
    margin: 0 .2em;
    padding: .3em 1.5em;
    border-radius: 5px;
    color: #fff;
    background-color: #1ca8ff;
    font-weight: 600;
}
.paginator .prev:hover,
.paginator .next:hover {
  box-shadow: 0 .2em #4b4b4b;
  top: .1em;
}

.ds-thread,
#disqus_thread {
  margin-bottom: 2em;
}

main.container {
  margin: 2em .7em;
  min-height: 30vh;
}

@media screen and (max-width: 700px) {
  main.container,
  .home.post-list,
  .archive {
    margin-top: 0;
  }
  .ds-thread,
  #disqus_thread {
    margin: 2em .8em;
  }
}

footer .copyright {
  font-size: .8em;
  margin: 4em 4em;
  border-top: 1px solid #eee;
  text-align: center;
}
footer .copyright p,
footer .copyright a {
  padding: 1em 0;
  color: #393e46;
  font-weight: 300;
}
footer .copyright a:hover {
  color: #393e46;
}

code,
pre {
  font-size: .8em;
  background-color: #f8f8f8;
  font-family: "SF Mono", "Monaco", "Inconsolata", "Fira Mono", "Droid Sans Mono", "Source Code Pro",
    monospace;
}

.highlight {
  position: relative;
  margin: 1em 0;
  border-radius: .02em;
  line-height: 1.1em;
  background-color: #f8f8f8;
  overflow-x: auto;
}
.highlight table,
.highlight tr,
.highlight td {
  width: 100%;
  border-collapse: collapse;
  padding: 0;
  margin: 0;
}
.highlight .gutter {
  display: none;
}
.highlight .code pre {
  padding: 1.2em 1.4em;
  line-height: 1.5em;
  margin: 0;
}
.highlight .code pre .line {
  width: auto;
  height: 1.5em;
}

.highlight.sql .code:after,
.highlight.ini .code:after,
.highlight.conf .code:after,
.highlight.html .code:after,
.highlight.javascript .code:after,
.highlight.js .code:after,
.highlight.bash .code:after,
.highlight.css .code:after,
.highlight.scss .code:after,
.highlight.diff .code:after,
.highlight.java .code:after,
.highlight.xml .code:after,
.highlight.python .code:after,
.highlight.json .code:after,
.highlight.swift .code:after,
.highlight.ruby .code:after,
.highlight.perl .code:after,
.highlight.php .code:after,
.highlight.c .code:after,
.highlight.cpp .code:after,
.highlight.ts .code:after {
  position: absolute;
  top: 0;
  right: 0;
  color: #84878c;
  text-align: right;
  font-size: .7em;
  padding: .4em .7em 0;
  height: .9em;
  font-weight: 600;
}

.highlight.sql .code:after {
  content: "SQL";
}

.highlight.ini .code:after {
  content: "INI";
}

.highlight.conf .code:after {
  content: "CONF";
}

.highlight.html .code:after {
  content: "HTML";
}

.highlight.javascript .code:after {
  content: "JAVASCRIPT";
}

.highlight.js .code:after {
  content: "JS";
}

.highlight.bash .code:after {
  content: "BASH";
}

.highlight.css .code:after {
  content: "CSS";
}

.highlight.scss .code:after {
  content: "SCSS";
}

.highlight.diff .code:after {
  content: "DIFF";
}

.highlight.java .code:after {
  content: "JAVA";
}

.highlight.xml .code:after {
  content: "XML";
}

.highlight.python .code:after {
  content: "PYTHON";
}

.highlight.json .code:after {
  content: "JSON";
}

.highlight.swift .code:after {
  content: "SWIFT";
}

.highlight.ruby .code:after {
  content: "RUBY";
}

.highlight.perl .code:after {
  content: "PERL";
}

.highlight.php .code:after {
  content: "PHP";
}

.highlight.c .code:after {
  content: "C";
}

.highlight.java .code:after {
  content: "JAVA";
}

.highlight.cpp .code:after {
  content: "CPP";
}

.highlight.ts .code:after {
  content: "TS";
}

.highlight.cpp .code:after {
  content: "C++";
}

pre {
  color: #525252;
}
pre .comment,
pre .quote {
  color: #998;
  font-style: italic;
}
pre .keyword,
pre .selector-tag,
pre .subst {
  color: #222831;
  font-weight: 600;
}
pre .number,
pre .literal,
pre .variable,
pre .template-variable,
pre .tag .attr {
  color: #008080;
}
pre .string,
pre .doctag {
  color: #d14;
}
pre .title,
pre .section,
pre .selector-id {
  color: #900;
  font-weight: 600;
}
pre .subst {
  font-weight: normal;
}
pre .type,
pre .class .title {
  color: #458;
  font-weight: 600;
}
pre .tag,
pre .name,
pre .attribute {
  color: #000080;
  font-weight: normal;
}
pre .regexp,
pre .link {
  color: #009926;
}
pre .symbol,
pre .bullet {
  color: #990073;
}
pre .built_in,
pre .builtin-name {
  color: #0086b3;
}
pre .meta {
  color: #999;
  font-weight: 600;
}
pre .deletion {
  background: #fdd;
}
pre .addition {
  background: #dfd;
}
pre .emphasis {
  font-style: italic;
}
pre .strong {
  font-weight: 600;
}

/*
 * =============================
 * ======= MEDIA QUERIES =======
 * =============================
 */

.closed {
  height: 0px !important;
}

/*
 0 - 440px;
 Within this range, the burger menu will show the options
 for how to move between pages.
*/

@media (max-width: 780px) {

  .barba-flex {
    justify-content: center;
    flex-direction: column;
    margin-top:0px;
  }

  .barba-container {
    width:100%;
  }

  /* We're just not going to show
  projects, music, blog in the side menu here.  */

  .barba-side {
    opacity: 0;
    height: 0px;
    margin-top: 0px;
  }

  .title-name {
    line-height: 0.9em;
    font-size: 2.5em;
    margin-bottom: 21px;
  }

  .nav-list {
    display: flex;
    /* flex-wrap: wrap; */
    /* justify-content: center; */
    flex-direction: column;
    align-items: center;
    width: 100%;
    /* height: 0px; */
    overflow: hidden;
    background-color: #ffffff;
    border-radius: 3px;
    transition: 0.2s all;
    height: 488px;
    font-weight: bold;
    margin-bottom: 67px;
  }

  .mobile-menu-container {
    width: 100%;
  }
  #mobile-menu {
    width: 25px;
    cursor:pointer;
  }

  header .branding {
    display: inline-block;
    margin: .6em 0 0 0;
    position: relative;
    visibility: hidden;
    margin-top: 6px;
  }

  header .nav-list-item {
      display: inline-block;
      padding: 1em .8em;
      width: 100%;
      border-bottom: solid 1px #bebebe;
      cursor: pointer;
  }

  .aesthetic-box {
      margin-top: 27px;
      background-color: aliceblue;
      padding-top: 47px;
      margin-right: 34px;
      margin-left: 14px;
      /* position: initial; */
      height: 292px;
  }

  .portrait {
      width: 100%;
      /* position: sticky; */
  }

  .title-sub {
      font-family: 'Libre Baskerville', serif;
      /* font-style: italic; */
      font-size: 24px;
      text-decoration: underline;
      padding-top: 27px;
  }

  .post-content h3 {
      margin-top: 1.6em;
      font-size: 2.1em;
  }

  .post-content h1, .post-block .post-title {
    margin-top: 9px;
    font-size: 2em;
    font-size: 2em !important;
}

  .contact-links-container {
    display: flex;
    align-items: flex-start;
    justify-content: baseline;
    flex-direction: column;
    margin-bottom: 41px;
    margin-top: 41px;
  }

  .contact-links {
    align-items: center;
    font-size: 20px;
    color: #222832;
    /* margin-top: 49px; */
    /* margin-bottom: 49px; */
    /* margin-right: 75px; */
    margin: 0;
  }

}

@media (min-width:781px) {
  
  .mobile-menu-container {
      display: none !important;
  }

  .alt-nav-list-items {
      display: none !important;
  }
  
  .barba-container {
    margin-top: 0px;
  }
}

