.container {
  display: flex;
  flex-direction: row;
  cursor: pointer;
      transition: 0.2s ease-in-out;
  margin-bottom: 1em;
}

.imageContainer {
    min-width: 100px;
    max-width: 20%;
}

.textContainer {
  margin-left: 25px;
}

.textContainer>div:nth-child(1) {
  font-weight: bold;
  font-size: 23px;
}

 @media (max-width: 500px) {
  .textContainer>div:nth-child(1)  {
    font-size: 5vw;
  }
} 