.container {
        /* display: flex;
    flex-direction: row; */
}

.container p img {
        margin-top: 2em;
    margin-bottom: 2em;
}

.date {
    color: #c9c9c9 !important;
    margin-top: 0 !important;
    margin-bottom: 3em !important;
}

.category {
    color: #c9c9c9 !important;
}

.category:hover {
    text-decoration: underline;
}

.description {
    font-size: 22px;
    margin-bottom: 2em;
    border-bottom: solid 1px #dedede;
    padding-bottom: 2em;
}

.container ol {
        margin-bottom: 2em;
    padding-left: 2em;
    margin-top: 2em;
    font-size: 18px;
}