.container {
    
}

.formStyles {

}

.formStyles input {
        width: 100%;
    border-radius: 2px;
    border: solid 1px #c9c9c9;
    padding: 4px;
    margin-top: 0.5em;
    margin-bottom: 1em;
}

.formStyles select {
        width: 100%;
    border-radius: 2px;
    border: solid 1px #c9c9c9;
    padding: 4px;
    margin-top: 0.5em;
    margin-bottom: 1em;
}

.formStyles textarea {
        width: 100%;
    border-radius: 2px;
    border: solid 1px #c9c9c9;
    padding: 4px;
    margin-top: 0.5em;
    margin-bottom: 1em;
}

.formStyles input[type="submit"] {
    width: 50%;
    background: #00b0e8;
    color: white;
    text-transform: uppercase;
    font-style: italic;
    border: solid 1px #00b0e8;
    border-radius: 5px;
    font-weight: bold;
    padding: 7px;
    font-size: 1.3em;
    cursor: pointer;
    transition: 0.2s ease-in;
    box-shadow: 0 4px 6px 0 rgba(0,0,0,.2);
    min-width: 213px;
}

@media (max-width: 600px) {
    .formStyles input[type="submit"] {
        width: 100%;
    }
}