.form {
    width: 60%;
        padding-top: 3em;
}

.form input[type="text"] {
    border-radius: 4px;
    border: 2px solid #c9c9c9;
    padding: 8px;
    margin-top: .5em;
    margin-bottom: 1em;
    padding-left: 18px;
    padding-right: 18px;
    width: 48%;
    margin-right: 1%;
    transition: .2s ease-in;
    outline: none;
}

.form input[type="email"] {
        border-radius: 4px;
    border: 2px solid #c9c9c9;
    padding: 8px;
    margin-top: .5em;
    margin-bottom: 1em;
    padding-left: 18px;
    padding-right: 18px;
    width: 48%;
    margin-left: 1%;
    transition: .2s ease-in;
    outline: none;
}

.form textarea {
    border-radius: 4px;
    border: 2px solid #c9c9c9;
    padding: 8px;
    margin-top: .5em;
    margin-bottom: 1em;
    padding-left: 18px;
    padding-right: 18px;
    width: 100%;
    min-height: 160px;
    transition: .2s ease-in;
    outline: none;
}

.row {

}

.form input:focus {
    border: solid 2px #00b0e8;
}

.form textarea:focus {
    border: solid 2px #00b0e8;
}

.form input[type="submit"] {
    width: 100%;
    background: #00b0e8;
    color: #fff;
    text-transform: uppercase;
    font-style: italic;
    border: 1px solid #00b0e8;
    border-radius: 5px;
    font-weight: 700;
    padding: 7px;
    font-size: 1.3em;
    cursor: pointer;
    transition: .2s ease-in;
    box-shadow: 0 4px 6px 0 rgba(0,0,0,.2);
    min-width: 213px;
}

.form input[type="submit"]:hover {
    background: #73c6e1;
}

@media (max-width: 950px) {
    .form {
        width: 100%;
    }
}