.container {}

.heroContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 10vh;
}

.imageContainer {}

.heroTextContainer {
  border-left: solid 3px grey;
  padding-left: 3em;
  margin-left: 1em;
}

.heroTextContainer>h3 {
  font-size: 22px;
  font-weight: 400;
  color: #313131;
  margin-bottom: 36px;
}

.heroTextContainer>div {
  font-size: 18px;
  color: #898989;
}

.pillarsContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  justify-content: space-evenly;
  margin-top: 6em;
  margin-bottom: 6em;
  flex-wrap: wrap;
}

.pillar {
  background: white;
  border: solid 2px #ee009e;
  /* padding-top: 2em; */
  /* padding-bottom: 2em; */
  /* padding-left: 1em; */
  /* padding-right: 1em; */
  padding: 2em;
  max-width: 240px;
  box-shadow: 6px 20px 36px -6px rgba(0, 0, 0, .12);
  margin-top: 3em;
}

.pillar>div {
  font-size: 1.1em;
}

.pillar>h3 {
  font-weight: bold;
  color: black;
  font-size: 1.4em;
  line-height: 1.4em;
  margin-bottom: 0.7em;
}

.selectionNavContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  margin-top: 3em;
  font-size: 1.5em;
}

.selected {
  font-weight: bold;
  color: #ee009e;
  border-bottom: solid 2px;
}

.selectionNavItem {
  margin-right: 1em;
  cursor: pointer;
}

.pageContainer {
  font-family: Roboto;
  min-height: 29em;
}

.row {
  display: flex;
  flex-direction: row;
  margin-bottom: 1.5em;
}

.columnLeft {
  min-width: 194px;
}

.columnRight {
  /* margin: 0 auto; */
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: 2.5em;
  align-items: flex-start;
  justify-content: center;
}

.sectionTitle {
  font-weight: 700;
  font-style: italic;
  margin-top: 2em;
  margin-bottom: 1.4em;
  font-size: 1.3em;
}

.elementName {
  background: #fff;
  border: 2px solid #ee009e;
  padding: 3px;
  color: #ee009e;
  min-width: 140px;
  outline: none;
  text-align: center;
  font-weight: 700;
  font-family: Roboto;
  border-radius: 4px;
}

.header {
  font-weight: bold;
}

@media (max-width: 700px) {
  .heroContainer {
    flex-direction: column;
  }
  .row {
    flex-direction: column;
  }
  .columnLeft {
    min-width: unset;
  }
  .elementName {
    display: inline-block;
    margin-bottom: 1em;
  }
  .heroTextContainer {
    margin-left: 10px;
    padding-left: 27px;
  }
}

@media (max-width: 550px) {
  .selectionNavContainer {
    font-size: 4.4vw;
  }
}