
.outer {
    margin-top: 2em;
    margin-bottom: 4em;
}

.container {
    position: relative;
}

.mask {
    position: absolute;
    top: 0;
    background-color: #ff9df7;
    opacity: 0;
    bottom: 0;
    left: 0;
    right: 0;
    transition: 0.2s ease-out;
    cursor: pointer;
}

.container:hover .mask {
    opacity:0.4;
}

.projectTitle {
        font-size: 1.4em;
    font-weight: bold;
    text-transform: unset;
    margin-bottom: 0px;
    margin-top: 1em;
}