.container {
  background: #262626;
  color: white;
}

.topFooter {
    padding: 1em;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-size: 16px;
    border-bottom: solid 1px #595959;
    padding-left: 2em;
    padding-right: 2em;
        align-items: center;
        flex-direction: row;
}

.mailListCopy {
    width: 40%;
    line-height: 18px;
    color: #dddddd;
}

.mailchimpContainer {
  width: 60%;
}

.mailchimpContainer form {
  margin-bottom: 0px;
  width: 100%;
}

.mailchimpContainer input {
    border: 1px solid #fff;
    padding: 5px;
    margin-left: 1em;
    cursor: pointer;
    padding-left: 1em;
    padding-right: 1em;
    width: 100%;
}

.mailchimpContainer input[type="email"] {
  width: 100%;
}

.mailchimpContainer input[type="submit"] {
  color: white;
    background: #ee009e;
    border: solid 1px #ee009e;
    padding: 5px;
    padding-left: 1em;
    padding-right: 1em;
    margin-left: 10px;
}

.mailchimpContainer form > div {
  display: flex;
  flex-direction: row;
}

.mailchimpContainer #mc-embedded-subscribe {
color: white;
    background: #ee009e;
    border: solid 1px #ee009e;
    padding: 5px;
    padding-left: 1em;
    padding-right: 1em;
    margin-left: 5px;
}

.mailchimpContainer > div {
      text-align: right;
    display: flex;
}

.mailchimpContainer button {
      
}

.bottomFooter {
padding: 3em;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-size: 16px;
    border-bottom: 1px solid #595959;
    padding: 1em 2em;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
        justify-content: center;
}

.bottomFooter h3 {
    font-weight: normal;
    text-transform: uppercase;
    margin-right: 2em;
}

.bottomFooter h3 a {
  color: white;
}

.bottomFooterFlex {
  display: flex;
  flex-direction: row;
}

.logosContainer {
padding: 1em;
    display: -ms-flexbox;
    padding-left: 2em;
    padding-right: 2em;
    margin: 0 auto;
    max-width: 500px;
}

.logosContainer img {
    display: inline-block;
    max-width: 191px;
    margin-bottom: 0;
    width: 15em;
}

.signature {
    width: 100%;
    color: silver;
    text-align: center;
    font-size: 14px;

}

.footerSocialContainer {
    margin-left: 3em;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    max-height: 25px;
}

.footerSocialContainer img {
    width: 64px;
    min-width: 24px;
    margin-right: 1em;
    margin-bottom: 0;
    max-width: 24px;
}

@media (max-width: 500px) {
  .signature {
    text-align: left;
  }

  .logosContainer {
    text-align: center;
  }

  .logosContainer > img {
    margin-right:0;
    width: 100%;
    max-width: 175px;
  }

  .signature {
    text-align: center;
  }

  .mailchimpContainer input {
    margin-left: 0;
  }
  
}

@media (max-width: 680px) {
  .topFooter {
    flex-direction: column;
        padding-left: 1em;
    padding-right: 1em;
  }
  .mailListCopy {
    width: 100%;
    text-align: center;
    margin-bottom: 10px;
  }

  .mailchimpContainer {
    width: 100%;
  }
}


@media (max-width: 790px) {
  .bottomFooter {
    flex-direction: column;
    align-items: center;
    align-items: flex-start;
        align-items: center;
    text-align: center;
  }

  .bottomFooterFlex {
    display: flex;
    flex-direction: column;
    text-align: center;
  }

  .bottomFooter h3 {
    font-weight: normal;
    text-transform: uppercase;
    margin-right: 2em;
    padding-bottom: 2em;
}

  .footerSocialContainer {
        margin-top: 1em;
        margin-left: 0px;
  }
}