mixin intro()
    .title-name Khalil Stemmler
    .title-sub Software Developer, Entrepreneur and Musician.

    .aesthetic-box
    img.portrait(src="images/ez.jpg" )

mixin front()
    .front-container

mixin body() 
    +intro()
    +front()
    

mixin home()
    +body()
