mixin home()
    - var prev = page.prev_link
    - var next = page.next_link
    .paginator
        if page.prev
            div.prev.cursor(onclick="javascript:window.location.pathname = '" + prev + "'")
                != __('prev')
        if page.next
            div.next.cursor(onclick="javascript:window.location.pathname = '" + next + "'")
                != __('next')

mixin post()
    - var prev = page.prev ? page.prev.path : false;
    - var next = page.next ? page.next.path : false;
    .paginator
        if prev
            div.prev.cursor(onclick="javascript:window.location.pathname = '" + prev + "'")
                != __('prev_post')
        if next
            div.next.cursor(onclick="javascript:window.location.pathname = '" + next + "'")
                != __('next_post')