
.title-name Khalil Stemmler
.cta-front.roboto 
  | Hey, I’m a musician and independent web & software developer from Toronto, Ontario. I work primarily with Node.js and React/Redux. Have a look through my 
  a.link-colour(onclick="javascript:window.location.href = '/portfolio';") portfolio 
  | and 
  a.link-colour(onclick="javascript:window.location.href = '/archives';") blog posts
  |. Need help with an upcoming project or application? Learn a bit more 
  a.link-colour(onclick="javascript:window.location.href = '/about';") about me 
  | and then consider 
  a.link-colour(onclick="javascript:window.location.href = '/contact';") hiring me
  | .



//.aesthetic-box
.portrait-container
  img.portrait(src="/images/me.jpg" )
