
.title-name Khalil Stemmler
.cta-front.roboto 
  | Hey, I’m a full-stack software developer based out of Toronto, Ontario specializing in JavaScript, computer networks and design. 
  
.cta-front.roboto
  | Feel free to check out my 
  a.link-colour(onclick="javascript:window.location.href = '/portfolio';") portfolio 
  | and 
  a.link-colour(onclick="javascript:window.location.href = 'https://blog.khalilstemmler.com';") blog posts 
  | to see the work I like to do. 
  
.cta-front.roboto 
  | Need a developer? Learn a bit more 
  a.link-colour(onclick="javascript:window.location.href = '/about';") about me 
  | and 
  a.link-colour(onclick="javascript:window.location.href = '/contact';") reach out 
  | if you're interested in working together.



//.aesthetic-box

