doctype
html(lang=config.language)
    head
        include head.pug
    body
        .wrap#barba-wrapper
            header
                h1.branding
                    a(onclick="javascript:window.location.href = '/';", title=config.title)
                        if theme.logo
                            img.logo-image(src=url_for(theme.logo), alt='logo')
                        else
                            = config.title
                include nav.pug
                //- pre #{ JSON.stringify(page.path) }
            .barba-flex
                block sidenav
                .barba-container
                    block intro
                    block front

                    //main.container
                        h2.recent-posts-header Recent Posts
                        block container
                    footer
                        block copyright
        include scripts.pug
