doctype
html(lang=config.language)
    head
        include head.pug
    body
        .wrap#barba-wrapper
            header
                h1.branding
                    a(onclick="javascript:window.location.href = '/';", title=config.title)
                        if theme.logo
                            img.logo-image(src=url_for(theme.logo), alt='logo')
                        else
                            = config.title
                include nav.pug
                //- pre #{ JSON.stringify(page.path) }
            .barba-flex
                block sidenav
                .barba-container
                    block intro
                    block front

                    //- Don't show all the blog posts on the Index page, but show it on the archives/index.html page
                    if page.path !== "index.html"
                        main.container
                            block container
                        footer
                            block pagination
                            block copyright
                    else 
                        footer
                            block copyright
        include scripts.pug
