.barba-flex
    .barba-side
        a(href="/projects/") Projects
        a(href="/") Blog
        a(href="/music/") Music
    .barba-container
        .title-name Khalil Stemmler
        .title-sub Software Developer, Entrepreneur and Musician.

        .aesthetic-box
        img.portrait(src="images/ez.jpg" )
        .front-container