doctype
html(lang=config.language)
    head
        include head.pug
    body
        .wrap#barba-wrapper
            header
                h1.branding
                    a(onclick="javascript:window.location.href = '/';", title=config.title)
                        if theme.logo
                            img.logo-image(src=url_for(theme.logo), alt='logo')
                        else
                            = config.title
                include nav.pug

            //- On the Blog Page, we don't want this backwards flex thing
            div(class=page.title !== "Blog" ? ".barba-flex" : "")
                block sidenav

                //-
                    Renders --> 
                    (About, Projects, Music, Contact)
                if page.title !== "Blog"
                    .barba-container
                        block intro
                        main.container
                            block container
                        footer
                            block pagination
                            block copyright

                //-
                    Renders --> 
                    (Blog)
                else
                    block blog
        include scripts.pug
