//- Analytics tracking
if theme.google_analytics
    script.
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', '#{theme.google_analytics}']);
        _gaq.push(['_trackPageview']);

        (function () {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();
script(src='https://cdnjs.cloudflare.com/ajax/libs/barba.js/1.0.0/barba.min.js')
script.
    document.addEventListener('DOMContentLoaded', function() {
        Barba.Pjax.start()
    })

div <script id="__bs_script__">//<![CDATA[ document.write("<script async src='http://HOST:3000/browser-sync/browser-sync-client.js?v=2.18.13'><\/script>".replace("HOST", location.hostname)); //]]></script>
script(src="https://code.jquery.com/jquery-2.2.4.js", integrity="sha256-iT6Q9iMJYuQiMWNd9lDyBUStIq/8PuOW33aOqmvFpqI=", crossorigin="anonymous")
script.
    function toggleOpen () {
        var element = $("#nav-list")
        
        console.log("Element data-open is: " + element.attr('data-open'))
        

        if (element.attr('data-open') == "true") {
            console.log("Drawer open, closing it")
             element.addClass("closed")
             element.attr('data-open', false);
        }
        else {
            console.log("Drawer closed, opening it")
            element.removeClass("closed")
            element.attr('data-open', true);
        }
    }


    