.barba-side
    div(onclick="javascript:window.location.href = '/projects';")  Projects
    a(href="/" onclick="javascript:window.location.reload()") Blog
    a(href="/" onclick="javascript:window.location.reload('/music')") Music