.barba-side
    div.link-style(onclick="javascript:window.location.href = '/projects';")  Projects
    div.link-style(onclick="javascript:window.location.href = '/';") Blog
    div.link-style(onclick="javascript:window.location.href = '/music';") Music