.barba-side
    // div.link-style.boxed.special(onclick="javascript:window.location.href = '/contact';")  Hire Me
    //div.link-style.boxed(onclick="javascript:window.location.href = '/archives';") Blog
    // div.link-style.boxed(onclick="javascript:window.location.href = '/music';") Music
    .portrait-container
        img.portrait(src="/images/me.jpg" )