extends partial/layout.pug

block container
    include mixins/post.pug
    +posts()

block pagination
    include mixins/paginator.pug
    +home()

block copyright
    include partial/copyright.pug

block front
    include partial/front.pug    

block pagecontent
    include partial/sidenav.pug
    .barba-container
        include mixins/home.pug
        include mixins/post.pug
        +home()
        footer
            include partial/copyright.pug
    


