extends partial/layout.pug

block site_title
    != page.title + ' • ' + config.title

block description
    - var desc = page.desc || page.title + ' - ' + config.author;
    meta(name='description', content=desc)

block container
    include mixins/post.pug
    .post
        article.post-block
            h1.post-title
                +postTitle(page.title)
            .post-content
                != page.content



block pagecontent
    // include partial/sidenav.pug
    .barba-container
        include mixins/post.pug
        .post
            article.post-block
                h1.post-title
                    +postTitle(page.title)
                .post-content
                    != page.content
        footer
            include partial/copyright.pug
    
